################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/olimpgame1.vcxproj
/olimpgame1.vcxproj.filters
*.user
*.filters
*.vcxproj
/x64/Debug
